// Button Colors
// Alt Colors: 
// Google Blue:  #1a73e8
$chat-page-primary: #2C3E50; 
$chat-page-darker: darken($chat-page-primary, 50%);
$chat-page-lighter: lighten($chat-page-primary, 10%);
$chat-page-lighter2: lighten($chat-page-primary, 20%);
$chat-page-lighter3: lighten($chat-page-primary, 30%);
$chat-page-lighter4: lighten($chat-page-primary, 40%);
$chat-page-lighter5: lighten($chat-page-primary, 50%);
$chat-page-lighter7: lighten($chat-page-primary, 70%);
$chat-page-lighter9: lighten($chat-page-primary, 90%);
// Font Color
$font-primary: rgb(15, 15, 15);
$font-secondary: lighten($font-primary, 20%);
$font-secondary2: lighten($font-primary, 30%);
// breakpoints
$breakpoint-tablet: 700px;