body {
  background: #20002c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0093e9, #80d0c7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0093e9, #80d0c7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbarClass {
  background-color: rgb(183, 208, 231);
}

#siteHandle {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.formHeader {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.initialForms {
  margin-left: 30%;
  margin-right: 30%;
}

.messageForm {
  display: flex;
  height: 50px;
  align-items: center;
  margin-bottom: 0.5rem;
}

.messageBox {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

#channelList {
  position: absolute;
  top: 0.75rem;
  /*
  flex-direction: column;
  margin-top: 2rem;
  align-items: flex-start; */
  display: flex;
  flex-direction: column;
}

.channelButton {
  /* width: 200px;
    height: 2rem;
    margin-bottom: 2rem; */
  width: 10rem !important;
  height: 4rem !important;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  margin-left: 1rem;
  background-color: #4158d0;
  background-image: linear-gradient(43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%);

  border-color: black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
}

.channelButton:active {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(4px);
}

.chatPage {
  display: flex;
  flex-direction: column;
}

.chatWindow {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputHeader {
  font-weight: bold;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.textBox {
  margin-right: 1rem;
}

/* #chatWindow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: column;
}



.chatWindow {
    border: 1px solid black;
} */

.sendButton {
  border-radius: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
}

#inputMessage {
  background-color: #222529;
  border: 1px solid #555856;
  border-radius: 8px;
  color: white;
}

.bubble {
  margin: 20px;
  border-radius: 8px;
  bottom: 0;
  overflow-anchor: auto;
  flex-direction: column-reverse;
}

.messageBox {
  overflow-y: auto;
  /* overflow-anchor: none; */
  background-color: #ffffff;
  background-image: linear-gradient(180deg,
      #ffffff 0%,
      #6284ff 50%,
      #ff0000 100%);
  flex-direction: column-reverse;
  position: relative;
  height: 35vw;
  width: 40vw;
  margin-bottom: 2rem;
  bottom: 0;
  left: 0;
}

.user {
  font-weight: 800;
  margin-bottom: -5px;
}

.theMessage {
  font-weight: 300;
}

.logoutButton {
  position: absolute;
  top: 5rem;
  right: 1rem;
}

.darkmodeButton {
  position: absolute;
  top: 8rem;
  right: 1rem;
}

.addChannelBox {
  position: absolute;
  top: 12rem;
  left: 13rem;
  background: #4568dc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b06ab3, #4568dc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 13rem;
  height: 8rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delChannelBox {
  position: absolute;
  top: 22rem;
  left: 13rem;
  background: #4568dc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b06ab3, #4568dc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 13rem;
  height: 8rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: #1a1a1a;
}

.dark .navbarClass {
  background-color: #363636;
}

.dark #siteHandle {
  color: white;
}

.dark .formHeader {
  color: white;
}

.dark .initialForms {
  background-color: #3f3f3f;
}

.dark .messageForm {
  background-color: #3f3f3f;
}

.dark .messageBox {
  background-color: #292929;
  background-image: none;
  border-color: white;
}

.dark .channelButton {
  background-color: #363636;
  background-image: none;
  color: white;
  border-color: white;
}

.dark .chatPage {
  color: white;
}

.dark .inputHeader {
  color: white;
}

.dark .textBox {
  background-color: #292929;
  color: white;
  border-color: white;
}

.dark .bubble {
  background-color: #292929;
  color: white;
}

.dark .user {
  color: white;
}

.dark .theMessage {
  color: white;
}

.dark .logoutButton {
  color: white;
}

.dark .addChannelBox {
  background-color: #1a1a1a;
  background-image: none;
  color: white;
  border-color: white;
}

.dark .app {
  background-color: #222;
}

#browseChannels {
  position: absolute;
  top: 2rem;
  left: 13rem;
  background: #4568dc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b06ab3, #4568dc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 13rem;
  height: 8rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topWindow {
  display: flex;
}

/* CSS */
.unsubscribe {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 30px;
  outline: 0;
  /* padding: 12px 14px; */
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-left: 300px;
  height: 15px;
  margin-top: 25px;
}

.unsubscribe:hover,
.unsubscribe:active {
  background-color: white;
  background-position: 0 0;
  color: #ff4742;
}

.unsubscribe:active {
  opacity: 0.5;
}

#channelNameHeader {
  align-self: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
}

.chatPage {
  display: flex;
}

#addChannelButton {
  margin-top: 1rem;
}

.channelForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputChannel {
  width: 12rem;
  margin-top: 0.5rem;
}

#browseChannelName {
  margin-bottom: 0.5rem;
}

.HuH {
  background: #222222;
  color: white;
}